#box_1{
    background-color: aquamarine;
    float: left;
    width: 200px;
    height: 100px;
    margin: 15px 0px 15px 15px;
}

#box_2{
    background-color: bisque;
    width: 100%;
    clear: left;
}